<mat-toolbar color="primary" class="top-nav">
    <span class="app-title">
        Craft Beer Tracker
        <mat-icon class="icon">sports_bar</mat-icon>
    </span>
</mat-toolbar>
<div class="login-form">
    <form>
        <div class="login-text"><span>Sign in to track your beers</span></div>

        <!--Username-->
        <mat-form-field appearance="outline" class="username-input">
            <mat-label>Username</mat-label>
            <input matInput name="username">
        </mat-form-field>

        <!--Password-->
        <mat-form-field appearance="outline" class="password-input">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button
                    matSuffix
                    (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword"
            >
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
        <button [routerLink]="'/dashboard'" class="login-button" mat-stroked-button color="primary">
            Login
        </button>
    </form>
</div>